nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.mary {
    color: red;
}

h3 {
    font-size: 45px;
    font-weight: 808px;
    font-style: normal;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: indigo;
}

.btn {
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    font-size: 20px;
    ;

}

.header {
    background-color: antiquewhite;
    background-image: url(../background12x612.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 550px;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.baner2{
 
}

.hi {
    margin-bottom: 0px;
}

.jns {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 45px;
}

.pra {
    margin-bottom: 10px;
}
.about{
    padding: 130px;
    background-color: azure;
    margin: 130px 0
}
.section{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sectiondetails{
    text-align: center;
    font-size: 18px;
    color: grey;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.information{
    font-size: larger;
}
#what{
    text-align: center;
    padding: 30px 150px;
    margin-top: 0;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill{
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px black;
}
.hed{
    margin-bottom: 0;
    text-align: center;
}
main section{
    margin-top: 100px;
}
.resume-container{
    /* display: flex; */
    justify-content: space-around;
    display: inline-block;
}